body {
  background-image: url("../bd__media/pics/Gym.jpg");
  background-size: cover;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: larger;
  text-shadow: 2px 3px 8px rgb(0, 0, 0);
}
a:hover {
  color: rgb(255, 255, 255);
}

.headerUl {
  display: flex;
  width: 70%;
  height: 70px;
  inset: 0;
  position: relative;
  margin: auto;
  direction: rtl;
  justify-content: space-around;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  border: none;
  border-radius: 20px;
}

.headerLi {
  display: inline;
  width: 60px;
  height: 30px;
  font-size: medium;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 7px blue;
  padding: 1% 2%;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 4px 7px #fff, 4px -3px 7px #dfdfdf;
  margin-left: 3%;
  list-style-type: circle;
  cursor: pointer;
  transition-duration: 1s;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.headerLi:hover {
  width: 60px;
  height: 30px;
  font-size: medium;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 7px blue;
  padding: 1% 2%;
  border: none;
  border-radius: 10px;
  box-shadow: inset 3px 4px 7px #fff, inset 4px -10px 7px #dfdfdf !important;
  margin-left: 3%;
  list-style-type: circle;
  transition-duration: 1s;
}

.backGroundPicLi {
  display: flex;
  width: 120px;
  height: 100px;
  list-style-type: none;
  inset: 0;
  position: relative;
  margin: auto;
  margin-right: -5%;
  margin-top: 0.5%;
  border: none;
  border-radius: 50px;
  box-shadow: -3px -2px 9px 3px #fff;
  background-image: url("../bd__media/pics/wrongMove.jpg");
  background-size: cover;
  background-position: 150px;
}

/* ************************************************************************************************************** */
.mainUl {
  display: block;
  width: 70px;
  height: 200px;
  margin: auto;
  inset: 0;
  margin-right: 5%;
  margin-top: 5%;
  float: right;
}

.mainLi {
  display: inline-block;
  width: 110px;
  height: 80px;
  margin: 5%;
  inset: 0;
  position: relative;
  color: #fff;
  background-color: rgba(64, 143, 247, 0.856);
  border: none;
  border-radius: 15px;
  margin-top: 35%;
  padding: 2%;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: large;
  font-weight: 800;
  transition-duration: 0.2s;
  cursor: pointer;
}

.mainLi:hover {
  width: 113px;
  height: 85px;
  color: rgb(12, 114, 247);
  background-color: #ffffffb9;
  transition-duration: 0.3s;
  border: none;
  a {
    color: red;
  }
}

/* **************************************************************************************************************** */
nav {
  display: flex;
  width: 1100px;
  height: 400px;
  margin: 4%;
}

.ElementryExplain {
  width: 900px;
  height: 400px;
  border: none;
  border-radius: 0px 40px 40px 40px;
  background-image: linear-gradient(to right, #867d7dc7, #332a2ae5, #9b9595e8);
  box-shadow: inset 6px 5px 10px #fff, inset 5px -5px 9px #dfdfdf;
  margin: 1%;
  margin-top: -15%;
  cursor: grab;
}

.ElementryExplain:hover {
  background-image: linear-gradient(to right, #867d7dd2, #332a2ad5, #ccc2c2ec);
}

.imgBox {
  width: 100px;
  height: 100px;
  margin-right: -10%;
  margin-top: -20%;
  /* box-shadow: inset 3px 3px 10px 5px rgba(39, 38, 38, 0.836); */
}

.introduceH2 {
  direction: rtl;
  color: #fff;
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
  text-shadow: 2px 2px 10px red;
  margin-right: 5%;
}

.explaintionP {
  direction: rtl;
  color: #fff;
  font-size: medium;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 600;
  text-shadow: 2px 2px 10px rgb(202, 186, 186);
  margin: 6%;
  line-height: 200%;
}
