body{

    background-image: url('../bd__media/pics/WM.jpg');
    background-size: 1200px;
    background-position: 80px;
    transition-duration: 3s;
    margin: 4%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0px 0px 600px 0px;
}

.bodyImg{
    background-size: 1900px;
    transition-duration: 2s;
}

.welcome{
    display: inline;
    color: rgba(243, 235, 235, 0.938);
    font-size: 50px;
    float: right;
    margin-top: -30%;
    margin-right: 3%;
    text-shadow: 0 1px 0 #1f1d1d, 0 2px 0 #ccc,
    0 3px 0 #141414, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 #ccc,
    0 7px 0 #161515, 0 8px 0 #302c2c,
    0 9px 0 #ccc, 0 10px 0 #ccc,
    0 11px 0 #ccc, 0 12px 0 #ccc,
    0 20px 30px rgb(12, 12, 12);
    opacity: 0;
}

.welcome2{
    opacity: 1;
    transition-duration: 1.5s;
}

.hiddenWlcome{
    opacity: 0;
    transition-duration: 1s;
}

.firstH1{
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.103);
    border: none;
    border-radius: 100px;
    font-size: 80px;
    margin-top: 0px;
    /* text-shadow: 2px 3px 8px rgb(206, 193, 193); */
    transition-duration: 1.5s;

    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 #ccc,
    0 7px 0 #ccc, 0 8px 0 #ccc,
    0 9px 0 #e91313, 0 10px 0 #ccc,
    0 11px 0 #ccc, 0 12px 0 #ccc,
    0 20px 30px rgb(255, 255, 255);

    box-shadow: 3px -2px 10px rgba(247, 3, 3, 0.959);

}

.biggerH1{
    display: inline-block;
    color: white;
    font-size: 100px;
    
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 #ccc,
    0 7px 0 #ccc, 0 8px 0 #ccc,
    0 9px 0 #e91313, 0 10px 0 #ccc,
    0 11px 0 #ccc, 0 12px 0 #ccc,
    0 20px 30px rgb(255, 255, 255);

    transition-duration: 1.5s;
    box-shadow: inset 3px -2px 10px rgba(247, 3, 3, 0.959);
  
}

.firstH2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
    0 3px 0 #1b1a1a, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 #ccc,
    0 7px 0 #ccc, 0 4px 0 #1a1616,
    0 9px 0 #ccc, 0 10px 0 #ccc,
    0 11px 0 #ccc, 0 1px 0 #ccc,
    0 20px 30px rgb(255, 255, 255);
    margin-top: -40px;
 
}

.firstH2js{
    text-shadow: 3px 4px 10px white;
    transition-duration: 2s;
}


.loginBTN{
    display: flex;
    width: 120px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: none;
    border-radius: 50px;
    font-size: large;
    font-weight: 800;

    color: #fff;
    background-color: #000000;
    text-shadow: 1px 1.5px 10px rgba(250, 2, 2, 0.979);
    box-shadow: 2px 2px 10px #f0eded, -3px -3px 9px #e0dada !important;
    
    cursor: pointer;
    transition-duration: .3s;

    

}

.loginBTN:hover{
    color: #000000;
    background-color: #f0eded;
    text-shadow: 1px 1.5px 10px rgba(110, 100, 100, 0.842);
    box-shadow: inset 1px 1px 9px #5e5a5af1 , inset -1px -1px 8px  #413e3ee1 !important;
    
    transition-duration: .3s;
    font-weight: 800;
}

.loginBTNBigger{
    width: 300px;
    transition-duration: 1s;
    
}


.longLine{
    width: 1px;
    height: .2px;
    background-color: rgb(0, 0, 0);
    transition-duration: 1.5s;
    margin: 2%;
    margin-top: -18%;
    margin-bottom: -100%;
}

.longLine2{
    width: 1px;
    height: 300px;
    transition-duration: 1.2s;
    box-shadow: 5px 5px 9px rgb(255, 255, 255);
    background-color: rgb(51, 235, 204);
}

ul{
    display: inline-block;
    margin-top: 5%;
    margin-left: -2%;
    line-height: 200%;
   
}

li{
    display: inline-block;
    margin: 5%;
    opacity: 0;
    transition-duration: 3s;
    
}

.liComeIn{
    display: inline-block;
    margin: 5%;
    
    transition-duration: 4s;
    opacity: 1;
}

.firstP {
    display: inline-block;
    width: 120px;
    height: 40px;
    color: rgba(255, 255, 255, 0.192);
    font-size: large;
    transition-duration: 2s;
    margin-left: 15%;
    color:  rgba(255, 255, 255, 0.952);
    box-shadow: 2px -1px 9px 1px #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .3s;
    border: none;
    border-radius: 20px;
    padding: 1% 15%;
    text-align: center;
    cursor: pointer;
}

.secondP {
    display: inline-block;
    width: 200px;
    height: 45px;
    color: white;
    font-size: large;
    transition-duration: 2s;
    margin-left: 15%;

    color:  rgba(255, 255, 255, 0.952);
    box-shadow: 2px -1px 9px 1px #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .3s;
    border: none;
    border-radius: 20px;
    padding: .3% 3%;

    text-align: center;
    cursor: pointer;
}

.firstP:hover , .secondP:hover {
    color: #000000;
    background-color:  rgba(255, 255, 255, 0.952);

    box-shadow: inset 2px -1px 9px 1px #e01010 , inset 2px -2px 9px 3px red;

    transition-duration: .4s;
}